<a href="https://colab.research.google.com/github/MitrofanovaEkaterina/prosto/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Создание таблицы School
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE School 
(
School_Id INTEGER NOT NULL PRIMARY KEY, 
School_Name TEXT NOT NULL, 
Place_Count INTEGER NOT NULL
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Наполнение таблицы School
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO School (School_Id, School_Name, Place_Count) 
VALUES 
('1', 'Протон', 200), 
('2', 'Преспектива', 300), 
('3', 'Спектр', 400), 
('4', 'Содружество', 500);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Создание таблицы Teacher
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE Teatcher 
( 
  Teatcher_Id INTEGER NOT NULL PRIMARY KEY, 
  Teatcher_Name TEXT NOT NULL, 
  School_Id INTEGER NOT NULL, 
  Joining_Date TEXT NOT NULL, 
  Speciality TEXT NOT NULL, 
  Salary INTEGER NOT NULL,
  Experience INTEGER
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Наполнение таблицы Teacher
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO Teatcher (Teatcher_Id, Teatcher_Name, School_Id, Joining_Date, Speciality, Salary, Experience) 
VALUES 
('101', 'Галина', '1', '2021-2-10', 'Физик', '40000', NULL), 
('102', 'Мария', '1', '2018-07-23', 'Химик', '20000', NULL), 
('103', 'Ольга', '2', '2022-05-19', 'Информатик', '25000', NULL), 
('104', 'Полина', '2', '2017-12-28', 'Физик ', '28000', NULL), 
('105', 'Лидия', '3', '2015-06-04', 'Информатик', '42000', NULL), 
('106', 'Анастасия', '3', '2019-09-11', 'Учитель трудов', '30000', NULL), 
('107', 'Ирина', '4', '2020-08-21', 'Информатик', '32000', NULL), 
('108', 'Виктория', '4', '2017-10-17', 'Географ', '30000', NULL);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Общение с БД
import sqlite3

connection = sqlite3.connect('teatchers.db') # Подключаюсь к БД
cursor = connection.cursor() # Определяю Курсор
query = "SELECT * FROM School;" # Задаю переменную с SQL запросом
cursor.execute(query) # С помощью курсора выполняю SQL запрос
record = cursor.fetchall() # Вывожу все результаты в переменную record (кортеж списков)
connection.close() # Отключаюсь от БД
print (record)

import sqlite3

connection = sqlite3.connect('test.db')

[(1, 'Протон', 200), (2, 'Преспектива', 300), (3, 'Спектр', 400), (4, 'Содружество', 500)]

In [ ]:
# Создание таблицы Students
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE Students
( 
  Student_Id INTEGER NOT NULL PRIMARY KEY, 
  Student_Name TEXT NOT NULL, 
  School_Id INTEGER NOT NULL
  );
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Наполнение таблицы Students
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id, Student_Name, School_Id) 
VALUES 
('201', 'Иван', '1'), 
('202', 'Петр', '2'), 
('203', 'Анастасия', '3'), 
('204', 'Игорь', '4');
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Решение задачи
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()


def get_school_name(school_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(select_query, (school_id,))
    record = cursor.fetchone()
    close_connection(connection)
    return record[1] # Наименование школы
  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных по школе ", error)


def get_student(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM Students WHERE student_id = ?"""
    cursor.execute(select_query, (student_id,))
    records = cursor.fetchall()

    print ("Данные о cтуденте")
    for row in records:
      print ("ID студента", row[0])
      print ("Имя студента", row[1])
      print ("ID школы", row[2])
      print ("Название школы", get_school_name(row[2]))
    close_connection(connection)

  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных по школе ", error)

print ("Решение задачи \n")
get_student(203)

Решение задачи

Данные о cтуденте
ID студента 203
Имя студента Анастасия
ID школы 3
Название школы Спектр